POSTGRES_DB=imagelab_db
POSTGRES_USER=imagelab
POSTGRES_PASSWORD=change_me

RABBITMQ_DEFAULT_USER=imagelab
RABBITMQ_DEFAULT_PASS=change_me

JWT_SECRET=change_me_minimum_32_characters
JWT_EXPIRATION=86400000

ADMIN_EMAIL=admin@imagelab.com
ADMIN_PASSWORD=change_me

OLLAMA_MODEL=llava